$amp-blue: #130c40;
$amp-red: #ff5655;
$amp-light-red: #ff8988;
$amp-dark-red: #cc0100;
$border-color: #ccc;
$pb-blue: #6791b2;
$pb-red: #ee6c3d;

$default-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
