$amp-blue: #130c40;
$amp-red: #ff5655;
$pb-blue: #6791b2;
$pb-red: #ee6c3d;
$border-color: #ccc;

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 66.25%;
  background-color: #333;
}
body {
  padding: 2rem;
  font-family: 'Nunito Sans', sans-serif;
}

.summary__text {
  font-size: 1.8rem;
  text-align: justify;
}

