* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #333;
  font-size: 66.25%;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 2rem;
}

.summary__text {
  font-size: 1.8rem;
  // text-align: justify;
}


.highlight{
  padding: .4rem;

  &:hover {
    background-color: rgba($amp-blue, .2);
    border-radius: 4px;
  }
}
