@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #333;
  font-size: 66.25%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  padding: 2rem;
}

.summary__text {
  font-size: 1.8rem;
}

.highlight {
  padding: 0.4rem;
}
.highlight:hover {
  background-color: rgba(19, 12, 64, 0.2);
  border-radius: 4px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 50rem;
  background-color: #333;
  display: none;
}

.open {
  display: initial;
}

.tools {
  margin-top: 1rem;
  text-align: center;
}
.tools__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.tools__nav {
  position: relative;
  font-size: 1.8rem;
  padding: 0.3rem;
  border-radius: 4px;
  display: flex;
  width: 25%;
  justify-content: center;
}
.tools__nav--active {
  background-color: #130c40;
  color: #eee;
}
.tools__nav:hover {
  cursor: pointer;
}
.tools__nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.4rem;
  background-color: #130c40;
  transform: scaleX(0);
  transition: transform 0.2s, background-color 0.1s;
}
.tools__nav:hover::before {
  transform: scaleY(1);
}
.tools__item {
  display: none;
  font-size: 1.6rem;
  padding: 0.5rem;
}

.waterfall--1 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 0.1s 1 forwards;
}
.waterfall--1:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--2 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 0.2s 1 forwards;
}
.waterfall--2:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--3 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 0.3s 1 forwards;
}
.waterfall--3:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--4 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 0.4s 1 forwards;
}
.waterfall--4:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--5 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 0.5s 1 forwards;
}
.waterfall--5:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--6 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 0.6s 1 forwards;
}
.waterfall--6:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--7 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 0.7s 1 forwards;
}
.waterfall--7:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--8 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 0.8s 1 forwards;
}
.waterfall--8:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--9 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 0.9s 1 forwards;
}
.waterfall--9:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--10 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 1s 1 forwards;
}
.waterfall--10:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--11 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 1.1s 1 forwards;
}
.waterfall--11:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--12 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 1.2s 1 forwards;
}
.waterfall--12:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--13 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 1.3s 1 forwards;
}
.waterfall--13:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--14 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 1.4s 1 forwards;
}
.waterfall--14:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--15 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 1.5s 1 forwards;
}
.waterfall--15:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--16 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 1.6s 1 forwards;
}
.waterfall--16:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--17 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 1.7s 1 forwards;
}
.waterfall--17:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--18 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 1.8s 1 forwards;
}
.waterfall--18:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--19 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 1.9s 1 forwards;
}
.waterfall--19:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--20 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 2s 1 forwards;
}
.waterfall--20:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--21 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 2.1s 1 forwards;
}
.waterfall--21:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--22 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 2.2s 1 forwards;
}
.waterfall--22:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--23 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 2.3s 1 forwards;
}
.waterfall--23:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--24 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 2.4s 1 forwards;
}
.waterfall--24:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--25 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 2.5s 1 forwards;
}
.waterfall--25:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--26 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 2.6s 1 forwards;
}
.waterfall--26:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--27 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 2.7s 1 forwards;
}
.waterfall--27:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--28 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 2.8s 1 forwards;
}
.waterfall--28:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--29 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 2.9s 1 forwards;
}
.waterfall--29:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--30 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 3s 1 forwards;
}
.waterfall--30:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--31 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 3.1s 1 forwards;
}
.waterfall--31:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--32 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 3.2s 1 forwards;
}
.waterfall--32:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--33 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 3.3s 1 forwards;
}
.waterfall--33:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--34 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 3.4s 1 forwards;
}
.waterfall--34:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--35 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 3.5s 1 forwards;
}
.waterfall--35:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--36 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 3.6s 1 forwards;
}
.waterfall--36:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--37 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 3.7s 1 forwards;
}
.waterfall--37:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--38 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 3.8s 1 forwards;
}
.waterfall--38:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--39 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 3.9s 1 forwards;
}
.waterfall--39:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--40 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 4s 1 forwards;
}
.waterfall--40:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--41 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 4.1s 1 forwards;
}
.waterfall--41:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--42 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 4.2s 1 forwards;
}
.waterfall--42:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--43 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 4.3s 1 forwards;
}
.waterfall--43:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--44 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 4.4s 1 forwards;
}
.waterfall--44:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--45 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 4.5s 1 forwards;
}
.waterfall--45:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--46 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 4.6s 1 forwards;
}
.waterfall--46:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--47 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 4.7s 1 forwards;
}
.waterfall--47:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--48 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 4.8s 1 forwards;
}
.waterfall--48:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--49 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 4.9s 1 forwards;
}
.waterfall--49:hover {
  background-color: rgba(19, 12, 64, 0.2);
}
.waterfall--50 {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  animation: enter 0.25s ease-in 5s 1 forwards;
}
.waterfall--50:hover {
  background-color: rgba(19, 12, 64, 0.2);
}

.nav-menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  background-color: #ff5655;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  line-height: 4.6rem;
  box-shadow: 0.25rem 0.25rem 3rem 1rem rgba(0, 0, 0, 0.2);
}
.nav-menu:hover {
  cursor: pointer;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.page {
  position: relative;
  background-color: #eee;
  border-radius: 5px;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 100rem;
  min-height: 100vh;
  padding: 2rem;
}
.page__layout {
  display: flex;
}
.page__left-col {
  min-width: 34%;
  max-width: 34%;
  padding-right: 2rem;
  border-right: 2px solid #ccc;
}
.page__left-col--header {
  width: 35%;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
}
.page__right-col {
  padding-left: 1rem;
  width: 60%;
}

.header {
  align-items: flex-end;
  border-bottom: 2px solid #ccc;
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.header__logo {
  height: 10rem;
}
.header__primary {
  margin-bottom: 1rem;
}
.header__name {
  font-weight: 400;
}
.header__title {
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer {
  color: #888;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.box {
  padding: 2rem;
}
.box:not(:last-child) {
  border-bottom: 2px solid #ccc;
}
.box__title {
  letter-spacing: 1px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.box__text {
  color: #222;
  font-size: 1.8rem;
  list-style-type: none;
  padding: 0.5rem 0;
}

.details {
  border-radius: 4px;
  list-style-type: none;
  padding: 1rem;
}
.details:hover {
  background-color: rgba(19, 12, 64, 0.2);
  cursor: zoom-in;
}
.details__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.details__label {
  min-width: 50%;
}
.details__data {
  border-left: 1px solid #130c40;
  min-width: 50%;
}
.details__skill--1 {
  background-color: #130c40;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  margin-bottom: 0.4rem;
  width: 10%;
}
.details__interest--1 {
  background-color: #ff5655;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 10%;
}
.details__skill--2 {
  background-color: #130c40;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  margin-bottom: 0.4rem;
  width: 20%;
}
.details__interest--2 {
  background-color: #ff5655;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 20%;
}
.details__skill--3 {
  background-color: #130c40;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  margin-bottom: 0.4rem;
  width: 30%;
}
.details__interest--3 {
  background-color: #ff5655;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 30%;
}
.details__skill--4 {
  background-color: #130c40;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  margin-bottom: 0.4rem;
  width: 40%;
}
.details__interest--4 {
  background-color: #ff5655;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 40%;
}
.details__skill--5 {
  background-color: #130c40;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  margin-bottom: 0.4rem;
  width: 50%;
}
.details__interest--5 {
  background-color: #ff5655;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 50%;
}
.details__skill--6 {
  background-color: #130c40;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  margin-bottom: 0.4rem;
  width: 60%;
}
.details__interest--6 {
  background-color: #ff5655;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 60%;
}
.details__skill--7 {
  background-color: #130c40;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  margin-bottom: 0.4rem;
  width: 70%;
}
.details__interest--7 {
  background-color: #ff5655;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 70%;
}
.details__skill--8 {
  background-color: #130c40;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  margin-bottom: 0.4rem;
  width: 80%;
}
.details__interest--8 {
  background-color: #ff5655;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 80%;
}
.details__skill--9 {
  background-color: #130c40;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  margin-bottom: 0.4rem;
  width: 90%;
}
.details__interest--9 {
  background-color: #ff5655;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 90%;
}
.details__skill--10 {
  background-color: #130c40;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  margin-bottom: 0.4rem;
  width: 100%;
}
.details__interest--10 {
  background-color: #ff5655;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 100%;
}

.legend {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.legend__key {
  align-items: center;
  display: flex;
}
.legend__key:not(:last-child) {
  margin-right: 1.5rem;
}
.legend__color {
  border-radius: 4px;
  height: 1.5rem;
  margin-right: 0.5rem;
  width: 1.5rem;
}
.legend__color--skill {
  background-color: #130c40;
}
.legend__color--interest {
  background-color: #ff5655;
}
.legend__text {
  font-size: 1.5rem;
}

.experience {
  margin-bottom: 4rem;
}
.experience__role {
  font-weight: bold;
  font-size: 2.2rem;
}
.experience__org {
  font-size: 1.8rem;
}
.experience__date {
  font-size: 1.8rem;
  font-style: italic;
}
.experience__description {
  margin-top: 1rem;
  font-size: 1.8rem;
}
.experience__accomplishment-list {
  margin: 2rem;
}
.experience__accomplishment-item {
  font-size: 1.8rem;
  margin-left: 1rem;
  color: #ff5655;
}
.experience__accomplishment-text {
  color: initial;
}

/*# sourceMappingURL=style.css.map */
