.details {
  border-radius: 4px;
  list-style-type: none;
  padding: 1rem;
  transition: background-color .2s;
  &:hover {
    background-color: rgba($amp-blue, .2);
    cursor: zoom-in;
  }
  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__label {
    min-width: 50%;
  }
  &__data {
    border-left: 1px solid $amp-blue;
    min-width: 50%;
  }
  @for $i from 1 through 10 {
    &__skill--#{$i} {
      background-color: $amp-blue;
      border-radius: 0 2px 2px 0;
      height: 1rem;
      margin-bottom: .4rem;
      width: $i * 10%;
    }
    &__interest--#{$i} {
      background-color: $amp-red;
      border-radius: 0 2px 2px 0;
      height: 1rem;
      width: $i * 10%;
    }
  }

}
