@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');
html {
  font-size: 66.25%;
}
body {
  font-family: 'Nunito Sans', sans-serif;
}


/*

0-600px:    Phone
600-900px:  Tablet Portrait
900-1200px: Tablet Landscape
[1200-1800] is where normal styles apply
1800+:      Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
    }
    @include respond(med-desktop) { // width < 1050?
        font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
    }
    @include respond(tab-port) { // width < 900?
        font-size: 50%; // 1 rem = 8px, 8/16 = 50%
    }
    @include respond(big-desktop) {
        font-size: 75%; // 1 rem = 12px, 12/16 = 75%
    }
*/
