.header {
  align-items: flex-end;
  border-bottom: 2px solid $border-color;
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
    @include respond(phone) {
      margin-bottom: 0rem;
    }
  &__logo {
    height: 10rem;
    @include respond(phone) {
      display: none;
    }
  }
  &__primary {
    margin-bottom: 1rem;
  }
  &__name {
    font-weight: 400;
  }
  &__title {
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
