.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.4);
  animation: appear .4s forwards;
  display: flex;
  z-index: 1;

  &--closed {
    display: none;
  }

  &__close {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $amp-blue;
    border: none;
    fill: #eee;
    stroke-width: 1;
    stroke: $amp-blue;
    border: none;
    box-shadow: $default-box-shadow;
    transition: all .2s;

    &:hover {
      cursor: pointer;
      stroke: $amp-red;
      background-color: $amp-red;
    }

  }
  &__title {
    margin-bottom: 1.6rem;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    z-index: 2;
    background-color: #eee;
    border-radius: 4px;
    box-shadow: $default-box-shadow;
    padding: 2rem;
    padding-bottom: 4rem;
    display: block;
    animation: appear .2s forwards;
    max-width: 90%;
    max-height: 90%;

    &--closed {
      display: none;
    }
  }
}
