.page {
  position: relative;
  background-color: #eee;;
  border-radius: 5px;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 100rem;
  min-height: 100vh;
  padding: 2rem;
  &__layout {
    display: flex;
    @include respond(phone) {
      flex-direction: column;
    }
  }
  &__left-col {
    min-width: 34%;
    max-width: 34%;
    padding-right: 2rem;
    border-right: 2px solid $border-color;
    @include respond(phone) {
      max-width: 100%;
      min-width: 100%;
      padding-right: 0;
      border: none;
    }
    &--header {
      width: 35%;
      padding-right: 1rem;
      display: flex;
      justify-content: center;
      @include respond(phone) {
        width: 0;
        padding-right: 0;
      }
    }
  }
  &__right-col {
    padding-left: 1rem;
    width: 60%;
    @include respond(phone) {
      width: 100%;
      padding-left: 0;
    }
  }
}
/// TODO: find me home
.summary__text {
  font-size: 1.8rem;
}
.highlight{
  padding: .4rem;
  &:hover {
    background-color: rgba($amp-blue, .2);
    border-radius: 4px;
  }
}
