.page {
  position: relative;
  background-color: #eee;;
  border-radius: 5px;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 100rem;
  min-height: 100vh;
  padding: 2rem;
  &__layout {
    display: flex;
  }
  &__left-col {
    min-width: 34%;
    max-width: 34%;
    padding-right: 2rem;
    border-right: 2px solid $border-color;
  }
  &__left-col--header {
    width: 35%;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
  }
  &__right-col {
    padding-left: 1rem;
    width: 60%;
  }
}
.summary__text {
  font-size: 1.8rem;
}
.highlight{
  padding: .4rem;
  &:hover {
    background-color: rgba($amp-blue, .2);
    border-radius: 4px;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.4);
  animation: appear .4s forwards;
  display: flex;
  z-index: 1;

  &--closed {
    display: none;
  }

  &__close {
    position: absolute;
    top: -1rem;
    right: -1rem;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $amp-blue;
    color: #eee;
    border: none;

    &:hover {
      cursor: pointer;
    }

  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    height: 20rem;
    z-index: 2;
    background-color: #eee;
    border-radius: 4px;
    box-shadow: $default-box-shadow;
    padding: 2rem;
    display: block;
    animation: appear .4s forwards;
    max-width: 90%;
    max-height: 90%;

    &--closed {
      display: none;
    }
  }
}
